target
../../../../../../../.VirtualBox/
        ../../../../../../../.bash_history
        ../../../../../../../.cache/
        ../../../../../../../.chef/
        ../../../../../../../.cisco/
        ../../../../../../../.condarc
        ../../../../../../../.continuum/
        ../../../../../../../.docker/
        ../../../../../../../.eclipse/
        ../../../../../../../.gitconfig
        ../../../../../../../.gnupg/
        ../../../../../../../.ipython/
        ../../../../../../../.jupyter/
        ../../../../../../../.m2/
        ../../../../../../../.matplotlib/
        ../../../../../../../.node_repl_history
        ../../../../../../../.p2/
        ../../../../../../../.spyder-py3/
        ../../../../../../../.ssh/
        ../../../../../../../.vscode/
        ../../../../../../../3D Objects/
        ../../../../../../../AppData/
        ../../../../../../../BullseyeCoverageError.txt
        ../../../../../../../ConMngGit/
        ../../../../../../../Contacts/
        ../../../../../../../Desktop/
        ../../../../../../20210731-PG DO - Certified Kubernetes Administrator Training JUL 2021(181404582246617597)/     
        ../../../../../../20210801-PG DO - Certified Kubernetes Administrator Training JUL 2021(201373113237114896)/     
        ../../../../../../20210807-PG DO - Certified Kubernetes Administrator Training JUL 2021(201463741108196162)/     
        ../../../../../../AWS Certification Test/
        ../../../../../../AWS/
        ../../../../../../AdminOffice/
        ../../../../../../Career resources/
        ../../../../../../ConnectAppCache/
        ../../../../../../ConnectCefApp.log
        ../../../../../../CopyofBackupFromACERand others/
        ../../../../../../Current CV/
        ../../../../../../Default.rdp
        ../../../../../../Fax/
        ../../../../../../IMPMarch012021Doc/
        ../../../../../../India/
        ../../../../../1. AWSPrep-startwithCapstone/
        ../../../../../2. Canadian startups that are hiring/
        ../../../../../A cloud tech company wording.docx
        ../../../../1. Containerization-Assgt/
        ../../../../1. Reply to NDA - Oct 10th.docx
        ../../../../2. DevOps Meetings/
        ../../../../3. Jenkins project/1. Mightneedpwd_github_via_git.docx
        ../../../../3. Jenkins project/1. YogeshDoc Jenkins Setup[6087].docx
        ../../../../3. Jenkins project/10. Extremely useful JavaMavenApp.docx
        ../../../../3. Jenkins project/11. Releases.docx
        ../../../../3. Jenkins project/12. Setting up Jenkins for Windows with GIT and SSH is a tricky thing.docx        
        ../../../../3. Jenkins project/14 Installation deployments.docx
        ../../../../3. Jenkins project/2. Automated_Customer_build_release.docx
        ../../../../3. Jenkins project/3. Draft Nov 08 v2.docx
        ../../../../3. Jenkins project/3. Draft Nov 08 v3.docx
        ../../../../3. Jenkins project/3. Draft Nov 08.docx
        ../../../../3. Jenkins project/3. Nxt_Draft Nov 09.docx
        ../../../../3. Jenkins project/4. Cygwin use shellin windowsdocx.docx
        ../../../../3. Jenkins project/5. Setting custom build in Jenkins.docx
        ../../../../3. Jenkins project/8. FlowDig.pdf
        ../../../../3. Jenkins project/9. ServerlessAlter.docx
        ../../../../3. Jenkins project/Automatic deployment/
        ../../../../3. Jenkins project/Earlier work - Jenkins_documentation_AMAN.txt
        ../../../../3. Jenkins project/Jenkins LearningTrackOnly/EDX - Jenkins basics/
        ../../../../3. Jenkins project/Jenkins LearningTrackOnly/Exect Summary/
        ../../../../3. Jenkins project/Jenkins LearningTrackOnly/GithubPackages/
        ../../../../3. Jenkins project/Jenkins LearningTrackOnly/Github_token.txt
        ../../../../3. Jenkins project/Jenkins LearningTrackOnly/JSNode appl/
        ../../../../3. Jenkins project/Jenkins LearningTrackOnly/JenkinsUdemy/1. JenkinsGithubplugin.docx
        ../../../../3. Jenkins project/Jenkins LearningTrackOnly/JenkinsUdemy/1_mavenpipe1/JenPipe1/
        ../../../../3. Jenkins project/Jenkins LearningTrackOnly/JenkinsUdemy/1_mavenpipe1/maven-project/
        ../../../../3. Jenkins project/Jenkins LearningTrackOnly/SSH/
        ../../../../3. Jenkins project/Jenkins LearningTrackOnly/Tomcat.doc
        ../../../../3. Jenkins project/Jenkins LearningTrackOnly/Tomcat.docx
        ../../../../3. Jenkins project/Jenkins LearningTrackOnly/Tomcat.pdf
        ../../../../3. Jenkins project/Jenkins LearningTrackOnly/Windowstips/
        ../../../../3. Jenkins project/Nov11_workingmeeting_YKSM.md
        ../../../../3. Jenkins project/Production/
        ../../../../3. Jenkins project/Questions/
        ../../../../3. Jenkins project/troubleshot.txt
        ../../../../3. Jenkins project/~$ Automated_Customer_build_release.docx
        ../../../../4. YactraqContracts/
        ../../../
        ../../../../6. JenkinswithDocker/
        ../../../../TempYactaqDoc/
        ../../../../../Top DevOps Cons Provider/
        ../../../../../../McAfee Vaults/
        ../../../../../../Morg vs RBCInv.xlsx
        ../../../../../../My Data Sources/
        ../../../../../../My IT Prep/
        ../../../../../../MyITResume - Oct022021/
        ../../../../../../MySoftware/
        ../../../../../../Python Scripts/
        ../../../../../../Recent BackupFeb14to28/
        ../../../../../../Resources for reading/
        ../../../../../../Scanned Documents/
        ../../../../../../Sharon M/
        ../../../../../../SheerazMUBC/
        ../../../../../../Society - religion community global/
        ../../../../../../Stk2021Test/
        ../../../../../../TempStk/
        ../../../../../../Where are my files.lnk
        ../../../../../../cache/
        ../../../../../../desktop.ini
        ../../../../../../gitmnt/
        ../../../../../../qs/
        ../../../../../../../Downloads/
        ../../../../../../../Dropbox/
        ../../../../../../../Favorites/
        ../../../../../../../IntelGraphicsProfiles/
        ../../../../../../../Links/
        ../../../../../../../May10Jenkins.pem
        ../../../../../../../Music/
        ../../../../../../../My_pythonStuff/
        ../../../../../../../NTUSER.DAT
        ../../../../../../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf
        ../../../../../../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms        ../../../../../../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms        ../../../../../../../OneDrive/
        ../../../../../../../Pictures/
        ../../../../../../../PycharmProjects/
        ../../../../../../../Saved Games/
        ../../../../../../../Searches/
        ../../../../../../../Terraform/
        ../../../../../../../Tracing/
        ../../../../../../../Videos/
        ../../../../../../../VirtualBox VMs/
        ../../../../../../../anaconda3/
        ../../../../../../../eclipse-workspace/
        ../../../../../../../eclipse/
        ../../../../../../../getting-started/
        ../../../../../../../ntuser.dat.LOG1
        ../../../../../../../ntuser.dat.LOG2
        ../../../../../../../ntuser.ini
